<div class="list row">
  <div class="col-md-6">
    <h4>Simcards List</h4>

    <button class="m-1 btn btn-sm btn-primary" (click)="newSimcard()">
      New
    </button>

    <button class="m-1 btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete All
    </button>

    <div class="input-group m-1">
      <label class="input-group-text" for="activeOnly">Active only</label>
      <div class="input-group-text">
        <input type="checkbox" class="form-check-input" autocomplete="off" id="activeOnly" [(ngModel)]="activeOnly"
          (ngModelChange)="changeFilter()" name="activeOnly" />
      </div>
    </div>

    <div class="input-group m-1">
      <label class="input-group-text" for="filter">ICCID filter</label>
      <input type="text" class="form-control" id="filter" [(ngModel)]="filter" (ngModelChange)="changeFilter()"
        name="filter" />
    </div>

    <ul class="list-group overflow-auto list">
      <li class="list-group-item d-flex flex-row" *ngFor="let simcard of filteredSimcards; let i = index"
        [class.active]="i == currentIndex" (click)="setActiveSimcard(simcard, i)">

        <div class="p-2 flex-grow-1">
          {{ simcard.iccid }}
        </div>

        <button class="m-1 btn btn-sm btn-danger" (click)="removeSimcard(simcard.iccid)">
          Del
        </button>

        <button class="m-1 btn btn-sm btn-primary" (click)="editSimcard(simcard.iccid)">
          Edit
        </button>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <app-simcard-details [viewMode]="true" [currentSimcard]="currentSimcard"></app-simcard-details>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeAllSimcards()">Yes</button>
      </div>
    </div>
  </div>
</div>
